.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-group button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button.active {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button-group button:hover {
    background-color: #45a049; /* Darker Green */
}
